# Node files
node_modules

# IDEA settings
.idea

# build files
SlottyMedia/bin
SlottyMedia/obj
SlottyMedia.Tests/bin
SlottyMedia.Tests/obj
SlottyMedia.Database/obj
SlottyMedia.Database/bin
/SlottyMedia.Database/obj
/SlottyMedia.DatabaseSeeding/bin
/SlottyMedia.DatabaseSeeding/obj
/SlottyMedia.LoggingProvider/bin
/SlottyMedia.LoggingProvider/obj

/docker


# minified CSS
**/*.min.css
SlottyMedia.sln.DotSettings.user

# NLog log files
SlottyMedia/temp
