# Node files
node_modules

# IDEA settings
.idea

# build files
SlottyMedia/bin
SlottyMedia/obj
/SlottyMedia.Database/obj
/SlottyMedia.Database/bin

# minified CSS
**/*.min.css

slottymedia-docs/

/SlottyMedia.Database/obj
