# Node files
node_modules

# IDEA settings
.idea

# build files
SlottyMedia/bin
SlottyMedia/obj
SlottyMedia.Tests/bin
SlottyMedia.Tests/obj
SlottyMedia.Database/obj
SlottyMedia.Database/bin
/SlottyMedia.Database/obj

# minified CSS
**/*.min.css
