@page "/counter"
@rendermode InteractiveServer

@inject Backend.ViewModel.Interfaces.ICounterVm CounterVm

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@if (CounterVm.User.UserName is not null)
{
    <p>@CounterVm.User.UserName</p>
}
else
{
    <p>Loading...</p>
}

@code {
    private int _currentCount;

    private void IncrementCount()
    {
        _currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await CounterVm.GetUserById("c2f581fe-d2a1-433e-b9d1-6ea6ed7151c6");
    }


}