@page "/"
@using SlottyMedia.Backend.Services.Interfaces
@using SlottyMedia.Backend.ViewModel.Interfaces
@inject IHomePageVm ViewModel
@inject IAuthService AuthService
@inject NavigationManager NavigationManager


<PageTitle>Slotty Media | Home</PageTitle>


@if (AuthService.IsAuthenticated())
{
    <PostSubmissionForm UserId="_currentUserId"></PostSubmissionForm>
}


<div class="w-full pb-5 flex flex-col items-center">
    <Pagination Page="ViewModel!.Page" OnPageFetch="ViewModel!.LoadPage">
        @foreach (var post in ViewModel!.Page)
        {
            <Post Id="post.PostId"/>
        }
    </Pagination>
</div>


@code
{
    private Guid? _currentUserId;

    /// <summary>
    ///     This method is called when the component is initialized.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        _currentUserId = AuthService.GetAuthPrincipalId();
        await ViewModel.Initialize();
    }

    private void _navigateToPostPage(Guid postId)
    {
        NavigationManager.NavigateTo($"/post/{postId}");
    }
}