@page "/"
@using SlottyMedia.Backend.Services.Interfaces
@using SlottyMedia.Backend.ViewModel.Interfaces
@inject IHomePageVm ViewModel
@inject IAuthVm AuthService
@inject NavigationManager NavigationManager


<PageTitle>Slotty Media | Home</PageTitle>


@if (AuthService.IsAuthenticated())
{
    <PostSubmissionForm/>
}


<div class="w-full pb-5 flex flex-col items-center">
    @foreach (var post in ViewModel!.Posts)
    {
        <Post Dto="post" CurrentUserId=@_currentUserId OnPostClick="() => _navigateToPostPage(post.PostId)"/>
    }

    @if (ViewModel.Posts.Count < ViewModel.TotalNumberOfPosts)
    {
        <button @onclick="ViewModel.LoadMorePosts" class="w-1/2 my-3 p-3 bg-raisin-black text-white border-none rounded-[12px]">
            Load more posts
        </button>
    }
</div>


@code
{
    private Guid _currentUserId;

    protected override async Task OnInitializedAsync()
    {
        var currentSession = AuthService.GetCurrentSession();
        _currentUserId = Guid.Parse(currentSession!.User!.Id!);
        await ViewModel.Initialize();
    }

    private void _navigateToPostPage(Guid postId)
    {
        NavigationManager.NavigateTo($"/post/{postId}");
    }
}