@page "/"
@using SlottyMedia.Backend.ViewModel.Interfaces
@inject IHomePageVm ViewModel
@inject NavigationManager NavigationManager


<PageTitle>Slotty Media | Home</PageTitle>


@if (ViewModel.AuthPrincipalId is not null)
{
    <PostSubmissionForm UserId="ViewModel.AuthPrincipalId"></PostSubmissionForm>
}

<div class="w-full pb-5 flex flex-col items-center">
    <Pagination Page="ViewModel!.Page" OnPageFetch="ViewModel!.LoadPage" Class="w-full px-3 py-5">
        @foreach (var post in ViewModel!.Page)
        {
            <Post Id="post.PostId"/>
        }
    </Pagination>
</div>


@code
{
    /// <summary>
    ///     This method is called when the component is initialized.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await ViewModel.Initialize();
    }

    private void _navigateToPostPage(Guid postId)
    {
        NavigationManager.NavigateTo($"/post/{postId}");
    }
}