@page "/post/{PostId:guid}"
@using SlottyMedia.Backend.ViewModel.Interfaces

@inject IPostPageVm ViewModel


<PageTitle>Slotty Media | Post</PageTitle>


@if (ViewModel.IsLoadingPage)
{
    <span>loading...</span>
}
else if (ViewModel.Post is null)
{
    <span>post not found...</span>
}
else
{
    <Post Dto="ViewModel.Post"/>
    <div class="w-full p-5 flex flex-col items-center gap-3">
        @foreach (var comment in ViewModel.Comments)
        {
            <Comment Dto="comment"/>
        }
        @if (ViewModel.Comments.Count < ViewModel.TotalNumberOfComments)
        {
            <button @onclick="ViewModel.LoadMoreComments" class="w-1/2 p-3 bg-raisin-black text-white border-none rounded-[12px]">
                Load more comments
            </button>
        }
    </div>
}


@code {
    [Parameter]
    public Guid? PostId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (PostId is not null)
            await ViewModel.LoadPage(PostId.Value);
    }

}