@page "/register"
@using SlottyMedia.Backend.ViewModel.Interfaces
@layout LoginLayout
@inject NavigationManager NavigationManager


<PageTitle>Slotty Media | Signup</PageTitle>


<h2 class="text-xl font-semibold">
    Welcome
</h2>

<p class="mt-6 mb-12 text-sm">
    join gazillions of people online
</p>


<form @onsubmit="SubmitForm" class="w-full max-w-[400px] px-2 flex flex-col items-center gap-5">

    <!-- Username -->
    <InputField Id="username" Name="username" Placeholder="Username" @bind-Value="ViewModel!.Username">
        <InputFieldIcon>
            <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 21V19.75C1 14.9175 5.2533 11 10.5 11C15.7467 11 20 14.9175 20 19.75V21" stroke="#A0A0A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.5 11C13.4981 11 15.9286 8.76138 15.9286 6C15.9286 3.23857 13.4981 1 10.5 1C7.50188 1 5.07143 3.23857 5.07143 6C5.07143 8.76138 7.50188 11 10.5 11Z" stroke="#A0A0A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </InputFieldIcon>
    </InputField>

    <!-- username error message -->
    @if (ViewModel.UsernameErrorMessage != null)
    {
        <span class="text-sm text-crayola-orange">
            @ViewModel.UsernameErrorMessage
        </span>
    }

    <!-- Email -->
    <InputField Id="email" Name="email" Placeholder="Email" Type="email" @bind-Value="ViewModel!.Email">
        <InputFieldIcon>
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.5 16.6667C14.8012 16.6667 16.6667 14.8012 16.6667 12.5C16.6667 10.1988 14.8012 8.33333 12.5 8.33333C10.1988 8.33333 8.33333 10.1988 8.33333 12.5C8.33333 14.8012 10.1988 16.6667 12.5 16.6667Z" stroke="#A0A0A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.6667 8.33333V13.5417C16.6667 14.3705 16.9959 15.1653 17.582 15.7514C18.168 16.3374 18.9629 16.6667 19.7917 16.6667C20.6205 16.6667 21.4153 16.3374 22.0014 15.7514C22.5874 15.1653 22.9167 14.3705 22.9167 13.5417V12.5C22.9165 10.149 22.1211 7.86716 20.6597 6.02555C19.1982 4.18394 17.1568 2.89086 14.8673 2.35656C12.5778 1.82226 10.1749 2.07817 8.04932 3.08267C5.92371 4.08718 4.20041 5.7812 3.15964 7.88929C2.11887 9.99739 1.82184 12.3956 2.31684 14.6939C2.81184 16.9922 4.06976 19.0555 5.88607 20.5482C7.70238 22.0409 9.97024 22.8754 12.3209 22.9158C14.6716 22.9562 16.9668 22.2002 18.8333 20.7708" stroke="#A0A0A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </InputFieldIcon>
    </InputField>

    <!-- email error message -->
    @if (ViewModel.EmailErrorMessage != null)
    {
        <span class="text-sm text-crayola-orange">
            @ViewModel.EmailErrorMessage
        </span>
    }

    <!-- Password -->
    <InputField Id="password" Name="password" Placeholder="Password" Type="password" @bind-Value="ViewModel!.Password">
        <InputFieldIcon>
            <svg width="17" height="22" viewBox="0 0 17 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.5 11H15.25C15.6642 11 16 11.3358 16 11.75V20.25C16 20.6642 15.6642 21 15.25 21H1.75C1.33579 21 1 20.6642 1 20.25V11.75C1 11.3358 1.33579 11 1.75 11H3.5M13.5 11V6C13.5 4.33334 12.5 1 8.5 1C4.5 1 3.5 4.33334 3.5 6V11M13.5 11H3.5" stroke="#A0A0A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </InputFieldIcon>
    </InputField>

    <!-- password error message -->
    @if (ViewModel.PasswordErrorMessage != null)
    {
        <span class="text-sm text-crayola-orange">
            @ViewModel.PasswordErrorMessage
        </span>
    }

    <!-- any other internal errors -->
    @if (ViewModel.ServerErrorMessage != null)
    {
        <span class="text-sm text-crayola-orange">
            @ViewModel.ServerErrorMessage
        </span>
    }

    <!-- Submission Button -->
    <HotButton Type="submit" Class="w-full max-w-[300px]">
        Sign Up
    </HotButton>

    <span>
        Already a member? <Link To="/login">Sign In</Link>
    </span>

</form>


@code
{
    /// <summary>
    ///     ViewModel to be used
    /// </summary>
    [Inject]
    [SupplyParameterFromForm]
    public ISignupFormVm? ViewModel { get; set; }

    private async Task SubmitForm()
    {
        try
        {
            await ViewModel!.SubmitSignupForm();
        }
        catch (Exception)
        {
            // return if errors occured, because errors will be displayed automatically
            return;
        }

        // if no errors occured during signup: redirect to main page
        NavigationManager.NavigateTo("/");
    }
}