@page "/spaces"
@using SlottyMedia.Backend.ViewModel.Interfaces
@layout MainLayout
@inject ISpacesVm SpacesVm


<PageTitle>Slotty Media | Spaces</PageTitle>

<!-- Display loading indicator -->
@if (SpacesVm.IsLoading)
{
    <p>Loading...</p>
}
else if (SpacesVm.Forums.Any())
{
    <ul>
        @foreach (var forum in SpacesVm.Forums)
        {
            <li>
                <NavLink href=@($"/spaces/{forum.ForumId}") class="card-link">
                    <Card class="min-h-[150px] mt-20 mx-7 flex flex-col items-center">
                        <h3 class="font-semibold text-lg">
                            @forum.Topic
                        </h3>
                    </Card>
                </NavLink>
            </li>
        }
    </ul>
}
else
{
    <p>No forums available.</p>
}

@code {

    /// <summary>
    ///     This method is called when the page is initialized.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await SpacesVm.LoadForums(); // Load forums automatically when the page is initialized
    }

}

}