@page "/spaces"
@using SlottyMedia.Backend.ViewModel.Pages.Space

@inject ISpacesVm SpacesVm


<PageTitle>Slotty Media | Spaces</PageTitle>

<!-- Display loading indicator -->
@if (SpacesVm.IsLoading)
{
    <p>Loading...</p>
}
else if (SpacesVm.Forums.Any())
{
    <ul>
        @foreach (var forum in SpacesVm.Forums)
        {
            <li>
                <NavLink href=@($"/spaces/{forum.ForumId}") class="card-link">
                    <Card class="min-h-[100px] mt-5 mx-7 flex flex-col justify-center align-middle">
                        <h3 class="text-3xl mt-3 font-medium text-center">
                            @forum.Topic
                        </h3>

                        <div class="flex w-fit mx-auto my-3">
                            <h3 class="text-sm text-cadet-gray w-full">Posts: @forum.PostCount</h3>
                            <h3 class="text-sm text-cadet-gray w-full">Created at: @forum.CreatedAt.ToString("dd-MMMM-yyyy")</h3>
                        </div>
                    </Card>
                </NavLink>
            </li>
        }
    </ul>
}
else
{
    <p>No forums available.</p>
}

@code {

    /// <summary>
    ///     This method is called when the page is initialized.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await SpacesVm.LoadForums(); // Load forums automatically when the page is initialized
    }

}

}