<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>

    <!-- minified CSS (+ Tailwind styles, generated at build time) -->
    <link rel="stylesheet" href="app.min.css"/>

    <!-- all component stylesheets in this assembly (generated at build time) -->
    <link rel="stylesheet" href="SlottyMedia.styles.css"/>

    <link rel="icon" type="image/png" href="favicon.png"/>
    <script src="js/cookies.js"></script>
    <HeadOutlet/>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>