@inherits LayoutComponentBase


<div class="relative w-screen h-screen flex justify-center items-center bg-black">
    
    <!-- Background image -->
    <img src="static/login/background.webp" alt="" class="absolute w-full h-full opacity-50 z-[0] select-none pointer-events-none"/>

    <!-- Content in center -->
    <div class="w-full max-w-screen-lg flex z-[1] min-h-[550px]">

        <!-- Left box -->
        <div class="relative w-1/2 text-white">
            
            <!-- the content -->
            <div class="px-7 py-10 flex flex-col gap-y-5">
                <h3 class="text-3xl font-semibold">
                    Join the club
                </h3>
                <p class=" text-sm leading-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus.
                </p>
                
                <div class="flex flex-row w-100 items-center pt-4">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.75" y="0.75" width="58.5" height="58.5" rx="11.25" stroke="white" stroke-width="1.5"/>
                        <path d="M15.6 37.05V17.7C15.6 17.2029 16.003 16.8 16.5 16.8H44.7C45.1971 16.8 45.6 17.2029 45.6 17.7V37.05M15.6 37.05V39.9C15.6 40.3971 16.003 40.8 16.5 40.8H44.7C45.1971 40.8 45.6 40.3971 45.6 39.9V37.05M15.6 37.05H45.6M26.1 46.8H28.35M28.35 46.8V40.8M28.35 46.8H32.85M32.85 46.8H35.1M32.85 46.8V40.8" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <div class="flex flex-col w-100 pl-8 font-thin">
                        <span class="font-semibold text-xl pb-1.5">Community</span>
                        <span>Connect to like-minded people</span>
                    </div>
                </div>

                <div class="flex flex-row w-100 items-center">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.75" y="0.75" width="58.5" height="58.5" rx="11.25" stroke="white" stroke-width="1.5"/>
                        <path d="M15 40V25C15 23.3431 16.3431 22 18 22H18.75C19.6943 22 20.5834 21.5554 21.15 20.8L24.48 16.36C24.65 16.1334 24.9167 16 25.2 16H34.8C35.0833 16 35.3501 16.1334 35.52 16.36L38.85 20.8C39.4165 21.5554 40.3058 22 41.25 22H42C43.6569 22 45 23.3431 45 25V40C45 41.6569 43.6569 43 42 43H18C16.3431 43 15 41.6569 15 40Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M30 37C33.3136 37 36 34.3136 36 31C36 27.6863 33.3136 25 30 25C26.6863 25 24 27.6863 24 31C24 34.3136 26.6863 37 30 37Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <div class="flex flex-col w-100 pl-8 font-thin">
                        <span class="font-semibold text-xl pb-1.5">Photography</span>
                        <span>Explore amazing shots everywhere.</span>
                    </div>
                </div>

                <div class="flex flex-row w-100 items-center">
                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.75" y="0.75" width="58.5" height="58.5" rx="11.25" stroke="white" stroke-width="1.5"/>
                        <path d="M15 41.1818V39.8182C15 34.5464 19.2736 30.2727 24.5455 30.2727C29.8173 30.2727 34.0909 34.5464 34.0909 39.8182V41.1818" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M31.3636 33C31.3636 29.2345 34.4163 26.1818 38.1818 26.1818C41.9474 26.1818 45 29.2345 45 33V33.6818" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M24.5455 30.2727C27.5579 30.2727 30 27.8306 30 24.8182C30 21.8057 27.5579 19.3636 24.5455 19.3636C21.533 19.3636 19.0909 21.8057 19.0909 24.8182C19.0909 27.8306 21.533 30.2727 24.5455 30.2727Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M38.1818 26.1818C40.4412 26.1818 42.2727 24.3503 42.2727 22.0909C42.2727 19.8316 40.4412 18 38.1818 18C35.9224 18 34.0909 19.8316 34.0909 22.0909C34.0909 24.3503 35.9224 26.1818 38.1818 26.1818Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <div class="flex flex-col w-100 pl-8 font-thin">
                        <span class="font-semibold text-xl pb-1.5">Awareness</span>
                        <span>Engage with diversity around the world.</span>
                    </div>
                </div>
            </div>
            
            <!-- background -->
            <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-br from-grape to-fandango opacity-90 z-[-1]"></div>
            
        </div>

        <!-- Right box -->
        <div class="w-1/2 p-x-7 py-10 bg-white flex flex-col justify-around items-center">
            @Body
        </div>

    </div>
    
</div>