@inherits LayoutComponentBase


<div class="w-screen h-screen flex">
    
    <!-- sidebar on the left -->
    <div class="w-[350px] h-full border-r border-athens-gray">

        <!-- top box -->
        <div class="relative w-full h-2/5 h- bg-gradient-to-br from-grape to-fandango">
            
            <!-- login box -->
            <div class="
                    card absolute w-full max-w-[280px]
                    flex flex-col items-center gap-5
                    left-1/2 bottom-0 -translate-x-1/2 translate-y-1/2">
                
                <!-- title -->
                <h3 class="text-lg font-semibold my-3">
                    Login Now
                </h3>
                
                <form class="w-full flex flex-col items-center gap-3">

                    <!-- username -->
                    <InputField
                        Id="login-input-username"
                        Name="username"
                        Placeholder="Username">
                        <InputFieldIcon>
                            <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 21V19.75C1 14.9175 5.2533 11 10.5 11C15.7467 11 20 14.9175 20 19.75V21" stroke="#A0A0A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.5 11C13.4981 11 15.9286 8.76138 15.9286 6C15.9286 3.23857 13.4981 1 10.5 1C7.50188 1 5.07143 3.23857 5.07143 6C5.07143 8.76138 7.50188 11 10.5 11Z" stroke="#A0A0A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </InputFieldIcon>
                    </InputField>

                    <!-- password -->
                    <InputField
                        Id="login-input-password"
                        Name="password"
                        Placeholder="Password">
                        <InputFieldIcon>
                            <svg width="17" height="22" viewBox="0 0 17 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.5 11H15.25C15.6642 11 16 11.3358 16 11.75V20.25C16 20.6642 15.6642 21 15.25 21H1.75C1.33579 21 1 20.6642 1 20.25V11.75C1 11.3358 1.33579 11 1.75 11H3.5M13.5 11V6C13.5 4.33334 12.5 1 8.5 1C4.5 1 3.5 4.33334 3.5 6V11M13.5 11H3.5" stroke="#A0A0A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </InputFieldIcon>
                    </InputField>

                    <button type="submit" class="
                        hot-btn text-white w-full max-w-[150px]
                        bg-gradient-to-r from-fandango via-crayola-orange to-fandango">
                        Login
                    </button>
                    
                </form>

                <a href="/register" class="mb-3 text-sm text-fandango underline duration-500 hover:text-crayola-orange">
                    sign up instead
                </a>
                
            </div>

        </div>
        
        <!-- bottom box -->
        <div class="w-full h-3/5 flex justify-center items-center bg-[#FAF8FB]">
            
            <!-- links -->
            <div>

            </div>
            
        </div>
        
    </div>
    
    <div class="grow h-full flex flex-col">
        
        <!-- top bar -->
        <div class="h-[80px] px-7 flex justify-between items-center border-b border-athens-gray">
            
            <!-- search bar -->
            <div class="w-full max-w-[500px] h-full flex items-center gap-3">
                
                <!-- lens icon -->
                <svg width="23" height="23" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.1111 23.2222C18.2476 23.2222 23.2222 18.2476 23.2222 12.1111C23.2222 5.97462 18.2476 1 12.1111 1C5.97461 1 1 5.97462 1 12.1111C1 18.2476 5.97461 23.2222 12.1111 23.2222Z" stroke="#A0A0A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26 26L19.9584 19.9584" stroke="#A0A0A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                <!-- input component -->
                <input
                    id="search-input"
                    name="search"
                    placeholder="Search..."
                    class="grow h-full outline-none text-cadet-gray-800 font-medium"/>

            </div>
            
            <!-- links on right of bar -->
            <div>
                <!-- login -->
                <a href="/login" class="">
                    Login
                </a>
            </div>

        </div>
        
        <div class="grow flex">
            
            <!-- main content (center) -->
            <div class="grow h-full">
                @Body
            </div>
            
            <!-- friends bar on the right -->
            <div class="w-[400px] h-full bg-[#FEFDFE] border-l border-athens-gray">
                
                <!-- friends card -->
                <div class="card min-h-[250px] mt-20 mx-7 flex flex-col items-center">
                    
                    <!-- title -->
                    <h3 class="font-semibold text-lg">
                        Friends
                    </h3>
                    
                    <!-- no friends :( -->
                    <div class="grow flex flex-col justify-center items-center">
                        <span>So empty here...</span>
                        <span>Sign in to see your friends!</span>
                    </div>

                </div>
                
            </div>

        </div>
        
    </div>
    
</div>