@inject IJSRuntime JsRuntime


<div @onclick="OnClick" class=@("relative w-[80px] h-[80px] cursor-pointer " + Class)>

    <!-- the white mask on hover -->
    <div class="absolute top-0 left-0 w-full h-full rounded-full bg-white opacity-0 hover:opacity-50 duration-300 z-10">
        @ChildContent
    </div>

    <!-- the image -->
    <img class="h-full w-full rounded-full" src=@($"data:image/png;base64, {Base64}") alt="Profile Picture">

</div>


@code {

    /// <summary>
    ///     RenderFragment to render a pictogram into the avatar when a action should be done on clicking an avatar.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter] public EventCallback OnClick { get; set; }

    /// <summary>Additional CSS classes to add to the avatar's container</summary>
    [Parameter]
    public string? Class { get; set; }

    /// <summary>
    ///     Sets a Base64Png. Gets the currently set base64png variable if set. If not set it gets the path of the standard
    ///     profile picture.
    /// </summary>
    [Parameter]
    public string Base64 { get; set; }

}