<div class="checkbox-wrapper-4">
    <input class="inp-cbx" id="@Id" type="checkbox"/>
    <label class="cbx" for="@Id">
        <span>
            <svg width="12px" height="10px">
                <use xlink:href="#check-4"></use>
            </svg>
        </span>
        <span>@Label</span>
    </label>
    <svg class="inline-svg">
        <symbol id="check-4" viewbox="0 0 12 10">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
        </symbol>
    </svg>
</div>


@code
{
    [Parameter]
    public string? Id { get; set; }
    
    [Parameter]
    public string? Label { get; set; }
}
