<div class="w-[43px] h-[43px] rounded-full flex justify-center items-center">
    @ChildContent
</div>

@code
{
    /// <summary>
    /// Gets or sets the content to be rendered inside the input field icon.
    /// </summary>
    [Parameter] public RenderFragment? ChildContent { get; set; }
}