<a href="@To" class=@($"underline text-fandango hover:text-crayola-orange duration-300 cursor-pointer {Class}")>
    @ChildContent
</a>


@code
{
    /// <summary>Where this link should navigate to. Corresponds to "href".</summary>
    [Parameter]
    public string? To { get; set; }

    /// <summary>Additional CSS classes to apply to this link.</summary>
    [Parameter]
    public string? Class { get; set; }

    /// <summary>The link's content, ideally just a string.</summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}