@using SlottyMedia.Backend.Dtos
@using SlottyMedia.Backend.Services.Interfaces

@inject IUserService UserService;
@inject ILikeService LikeService;
@inject ICommentService CommentService;

@if (!_isLoading)
{
    <div class="w-full p-5 grid grid-cols-10 gap-4">

        <!-- profile picture -->
        <div class="w-[50px] h-[50px] rounded-full border border-athens-gray">
            <svg width="100%" height="100%" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                <g>
                    <path d="m 8 1 c -1.65625 0 -3 1.34375 -3 3 s 1.34375 3 3 3 s 3 -1.34375 3 -3 s -1.34375 -3 -3 -3 z m -1.5 7 c -2.492188 0 -4.5 2.007812 -4.5 4.5 v 0.5 c 0 1.109375 0.890625 2 2 2 h 8 c 1.109375 0 2 -0.890625 2 -2 v -0.5 c 0 -2.492188 -2.007812 -4.5 -4.5 -4.5 z m 0 0" fill="#2e3436"></path>
                </g>
            </svg>
        </div>

        <!-- username & time posted -->
        <div class="col-span-9 flex flex-col justify-between">
            <h3 class="text-xl font-semibold">
                @(_owner!.Username)
            </h3>
            <h3 class="text-sm font-medium text-cadet-gray">
                @(Dto!.CreatedAt.ToShortTimeString())
            </h3>
        </div>

        <!-- this cell is just for filling the grid! -->
        <div></div>

        <!-- actual text -->
        <div class="col-span-9">
            @(Dto!.Content)
        </div>

        <!-- this cell is just for filling the grid! -->
        <div></div>

        <!-- actions -->
        <div class="col-span-9 flex gap-12 select-none">

            <!-- comments -->
            <div @onclick="OnPostClick" class="flex gap-3 items-center cursor-pointer">

                <!-- icon -->
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 25.6667C20.4433 25.6667 25.6667 20.4433 25.6667 14C25.6667 7.55667 20.4433 2.33333 14 2.33333C7.55672 2.33333 2.33337 7.55667 2.33337 14C2.33337 15.8663 2.7716 17.6302 3.55074 19.1946C3.7578 19.6103 3.82672 20.0854 3.70668 20.534L3.0118 23.1311C2.71015 24.2585 3.74155 25.2898 4.86895 24.9882L7.466 24.2934C7.91463 24.1733 8.38979 24.2423 8.80549 24.4492C10.3698 25.2285 12.1337 25.6667 14 25.6667Z" stroke="#A0A0A0" stroke-width="1.5"/>
                    <path d="M9.33337 12.25H18.6667" stroke="#A0A0A0" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M9.33337 16.3333H15.75" stroke="#A0A0A0" stroke-width="1.5" stroke-linecap="round"/>
                </svg>

                <!-- number of comments -->
                <span class="text-cadet-gray">
                    @_commentCount
                </span>

            </div>

            <!-- like button -->
            <div class="flex gap-3 items-center">
                <LikeButton Initial="@_initLiked" OnClick="LikeClick"/>
                <span class="text-cadet-gray">
                    @_likeCount
                </span>
            </div>

        </div>

    </div>
}



@if (_isLoading)
{
    <div>
        Loading...
    </div>
}


@code
{
    /// The post to be rendered.
    [Parameter]
    public PostDto? Dto { get; set; }
    
    ///<summary>
    ///The current logged in user id to propagate towards like component
    /// </summary>
    [Parameter]
    public Guid CurrentUserId { get; set; }
    
    /// <summary>
    ///     This event is triggered when the post's comment button is clicked.
    ///     This event will be used to navigate to the post's dedicated page from the home page (i.e. <c>/post/{ID}</c>).
    ///     On the post's dedicated page this event should be left unset.
    /// </summary>
    [Parameter]
    public EventCallback OnPostClick { get; set; }

    private bool _isLoading = true;
    private int _commentCount;
    private int _likeCount;
    private bool _initLiked;
    
    UserDto? _owner;

    /// <inheritdoc />
    protected override async Task OnParametersSetAsync()
    {
        _isLoading = true;
        //TODO: This should be changed soon!
        await SetLikeCountState(); 
        _owner = await UserService.GetUserDtoById(Dto!.UserId);
        _commentCount = await CommentService.CountCommentsInPost(Dto.PostId);
        _isLoading = false;
    }

    public async Task SetLikeCountState()
    {
        var likeList = await LikeService.GetLikesForPost(Dto!.PostId);
        _likeCount = likeList.Count;
        _initLiked = likeList.Contains(CurrentUserId); 
    }

    public async void LikeClick(bool wasUnliked)
    {
        if (wasUnliked)
        {
            await LikeService.DeleteLike(CurrentUserId, Dto!.PostId);
        }
        else
        {
            await LikeService.InsertLike(CurrentUserId, Dto!.PostId);
            
        }

        await SetLikeCountState();
        StateHasChanged();
    }
}
