@using SlottyMedia.Backend.Dtos
@using SlottyMedia.Backend.ViewModel
@using SlottyMedia.Backend.ViewModel.Interfaces
@inject IUserVmImpl UserService;


@if (!_isLoading)
{
    <div class="w-full p-5 grid grid-cols-10 gap-4">

        <!-- profile picture -->
        <div class="w-[50px] h-[50px] rounded-full border border-athens-gray">
            <svg width="100%" height="100%" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                <g>
                    <path d="m 8 1 c -1.65625 0 -3 1.34375 -3 3 s 1.34375 3 3 3 s 3 -1.34375 3 -3 s -1.34375 -3 -3 -3 z m -1.5 7 c -2.492188 0 -4.5 2.007812 -4.5 4.5 v 0.5 c 0 1.109375 0.890625 2 2 2 h 8 c 1.109375 0 2 -0.890625 2 -2 v -0.5 c 0 -2.492188 -2.007812 -4.5 -4.5 -4.5 z m 0 0" fill="#2e3436"></path>
                </g>
            </svg>
        </div>

        <!-- username & time posted -->
        <div class="col-span-9 flex flex-col justify-between">
            <h3 class="text-xl font-semibold">
                @(_owner!.Username)
            </h3>
            <h3 class="text-sm font-medium text-cadet-gray">
                @(Dto!.CreatedAt.ToShortTimeString())
            </h3>
        </div>

        <!-- this cell is just for filling the grid! -->
        <div></div>

        <!-- actual text -->
        <div class="col-span-9">
            @(Dto!.Content)
        </div>

        <!-- this cell is just for filling the grid! -->
        <div></div>

        <!-- actions -->
        <div class="col-span-9 flex gap-12 select-none">

            <!-- comments -->
            <div class="flex gap-3 items-center">

                <!-- icon -->
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 25.6667C20.4433 25.6667 25.6667 20.4433 25.6667 14C25.6667 7.55667 20.4433 2.33333 14 2.33333C7.55672 2.33333 2.33337 7.55667 2.33337 14C2.33337 15.8663 2.7716 17.6302 3.55074 19.1946C3.7578 19.6103 3.82672 20.0854 3.70668 20.534L3.0118 23.1311C2.71015 24.2585 3.74155 25.2898 4.86895 24.9882L7.466 24.2934C7.91463 24.1733 8.38979 24.2423 8.80549 24.4492C10.3698 25.2285 12.1337 25.6667 14 25.6667Z" stroke="#A0A0A0" stroke-width="1.5"/>
                    <path d="M9.33337 12.25H18.6667" stroke="#A0A0A0" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M9.33337 16.3333H15.75" stroke="#A0A0A0" stroke-width="1.5" stroke-linecap="round"/>
                </svg>

                <!-- number of comments -->
                <span class="text-cadet-gray">
                    7.4K
                </span>

            </div>

            <!-- like button -->
            <div class="flex gap-3 items-center">
                <LikeButton/>
                <span class="text-cadet-gray">
                    3.2K
                </span>
            </div>

        </div>

    </div>
}


@if (_isLoading)
{
    <div>
        Loading...
    </div>
}


@code
{
    /// The post to be rendered.
    [Parameter]
    public PostDto? Dto { get; set; }

    bool _isLoading = true;

    UserDto? _owner;

    /// <inheritdoc />
    protected override async Task OnParametersSetAsync()
    {
        _isLoading = true;
        _owner = await UserService.GetUserById(Dto!.UserId);
        _isLoading = false;
    }
}